name: cygwin-dll

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  windows-build:
    runs-on: windows-2022
    strategy:
      fail-fast: false
      matrix:
        include:
          - target: x86_64-pc-cygwin
            pkgarch: x86_64
    name: Windows native ${{ matrix.pkgarch }}

    steps:
    - run: git config --global core.autocrlf input

    - name: adjust permissions
      run: |
        icacls . /inheritance:r
        icacls . /grant Administrators:F

    - uses: actions/checkout@v5

    - name: Install Cygwin
      uses: cygwin/cygwin-install-action@master
      with:
        platform: ${{ matrix.pkgarch }}
        packages: >-
          autoconf,
          automake,
          busybox,
          cocom,
          cygutils-extra,
          dblatex,
          dejagnu,
          docbook-xml45,
          docbook-xsl,
          docbook2X,
          gcc-g++,
          gettext-devel,
          libiconv,
          libiconv-devel,
          libzstd-devel,
          make,
          mingw64-${{ matrix.pkgarch }}-gcc-g++,
          mingw64-${{ matrix.pkgarch }}-zlib,
          patch,
          perl,
          python39-lxml,
          python39-ply,
          texlive-collection-fontsrecommended,
          texlive-collection-latexrecommended,
          texlive-collection-pictures,
          xmlto,
          zip,
          zlib-devel

    - name: Build Cygwin
      run: >-
        export PATH=/usr/bin:$(cygpath ${SYSTEMROOT})/system32 &&
        export DESTDIR=$(realpath $(pwd)/install) &&
        mkdir build install &&
        (cd winsup; ./autogen.sh) &&
        cd build &&
        ../configure --prefix=/usr -v &&
        export MAKEFLAGS=-j$(nproc) &&
        make &&
        export CYGWIN=winsymlinks:sys &&
        make install -j1 tooldir=/usr gcc_tooldir=/usr DESTDIR=${DESTDIR} &&
        (cd */newlib; make info man) &&
        (cd */newlib; make install-info install-man tooldir=/usr gcc_tooldir=/usr DESTDIR=${DESTDIR})
      shell: bash --noprofile --norc -eo pipefail '{0}'

    - name: Rearrange for default mountpoints
      run: |
        mv -v install/usr/bin install/bin
        mv -v install/usr/lib install/lib
      shell: bash --noprofile --norc -o igncr -eo pipefail '{0}'

    - name: Make Cygwin installation artifact
      uses: actions/upload-artifact@v4
      with:
        name: cygwin-install-${{ matrix.pkgarch }}
        path: |
          install
    - name: Create install.zip
      run: |
        cd install
        zip -r ../install.zip *
        cd ..
      shell: bash --noprofile --norc -o igncr -eo pipefail '{0}'

    - name: Create Git tag
      id: create_tag
      run: |
        TAG_NAME="release-$(date -u +'%Y%m%dT%H%M%SZ')"
        git tag $TAG_NAME
        git push origin $TAG_NAME
        echo "tag_name=$TAG_NAME" >> $GITHUB_OUTPUT
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      shell: bash --noprofile --norc -o igncr -eo pipefail '{0}'

    - name: Upload to release
      uses: softprops/action-gh-release@v2
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        tag_name: ${{ steps.create_tag.outputs.tag_name }}
        files: install.zip
