name: cygwin-dll

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  windows-build:
    runs-on: windows-2022
    strategy:
      fail-fast: false
      matrix:
        include:
        - target: x86_64-pc-cygwin
          pkgarch: x86_64
    name: Windows native ${{ matrix.pkgarch }}

    steps:
    # checkout action uses the native git (we can avoid this messing up line
    # endings, but this could still be dangerous e.g if we need symlinks in the
    # repo)
    - run: git config --global core.autocrlf input
    # remove inheritable permissions since they break assumptions testsuite
    # makes about file modes
    - name: adjust permissions
      run: |
        icacls . /inheritance:r
        icacls . /grant Administrators:F
    - uses: actions/checkout@v5

    # install cygwin and build tools
    - name: Install Cygwin
      uses: cygwin/cygwin-install-action@master
      with:
        platform: ${{ matrix.pkgarch }}
        packages: >-
          autoconf,
          automake,
          busybox,
          cocom,
          cygutils-extra,
          dblatex,
          dejagnu,
          docbook-xml45,
          docbook-xsl,
          docbook2X,
          gcc-g++,
          gettext-devel,
          libiconv,
          libiconv-devel,
          libzstd-devel,
          make,
          mingw64-${{ matrix.pkgarch }}-gcc-g++,
          mingw64-${{ matrix.pkgarch }}-zlib,
          patch,
          perl,
          python39-lxml,
          python39-ply,
          texlive-collection-fontsrecommended,
          texlive-collection-latexrecommended,
          texlive-collection-pictures,
          xmlto,
          zlib-devel

    # build
    - name: Build Cygwin
      run: >-
        export PATH=/usr/bin:$(cygpath ${SYSTEMROOT})/system32 &&
        export DESTDIR=$(realpath $(pwd)/install) &&
        mkdir build install &&
        (cd winsup; ./autogen.sh) &&
        cd build &&
        ../configure --prefix=/usr -v &&
        export MAKEFLAGS=-j$(nproc) &&
        make &&
        export CYGWIN=winsymlinks:sys &&
        make install -j1 tooldir=/usr gcc_tooldir=/usr DESTDIR=${DESTDIR} &&
        (cd */newlib; make info man) &&
        (cd */newlib; make install-info install-man tooldir=/usr gcc_tooldir=/usr DESTDIR=${DESTDIR})
      shell: bash --noprofile --norc -eo pipefail '{0}'

    # adjust install so it matches the physical arrangement of directories when
    # unpacked by setup
    - name: Rearrange for default mountpoints
      run: |
        mv -v install/usr/bin install/bin
        mv -v install/usr/lib install/lib
      shell: bash --noprofile --norc -o igncr -eo pipefail '{0}'

    # upload installed cygwin as an artifact, for subsequent use in
    # test job(s)
    - name: Make Cygwin installation artifact
      uses: actions/upload-artifact@v4
      with:
        name: cygwin-install-${{ matrix.pkgarch }}
        path: |
          install

    # test
    - name: Test Cygwin
      run: >-
        export PATH=/usr/bin:$(cygpath ${SYSTEMROOT})/system32 &&
        export MAKEFLAGS=-j$(nproc) &&
        cd build &&
        (export PATH=${{ matrix.target }}/winsup/testsuite/testinst/bin:${PATH} && cmd /c $(cygpath -wa ${{ matrix.target }}/winsup/cygserver/cygserver) &) &&
        (cd ${{ matrix.target }}/winsup; make check AM_COLOR_TESTS=always)
      shell: bash --noprofile --norc -eo pipefail '{0}'

    # upload test logs to facilitate investigation of problems
    - name: Upload test logs
      uses: actions/upload-artifact@v4
      with:
        name: testlogs
        path: |
          build/${{ matrix.target }}/winsup/testsuite/**/*.log
          build/${{ matrix.target }}/winsup/testsuite/**/*.trs
      if: ${{ !cancelled() }}

    # workaround problems with actions/checkout post-run step using cygwin git
    - name: Avoid actions/checkout post-run step using Cygwin git
      run: bash -c 'rm /usr/bin/git.exe'
      - name: Create Git tag
        id: create_tag
        run: |
          TAG_NAME="release-$(date -u +'%Y%m%dT%H%M%SZ')"
          git tag $TAG_NAME
          git push origin $TAG_NAME
          echo "tag_name=$TAG_NAME" >> $GITHUB_OUTPUT
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    # archive all DLLs into a zip
    - name: Archive DLLs
      run: |
        mkdir -p release_files
        find install -type f -name '*.dll' -exec cp --parents {} release_files/ \;
        zip -r cygwin-dlls.zip release_files
      shell: bash --noprofile --norc -eo pipefail '{0}'

    # upload DLL zip to release
    - name: Upload DLLs to release
      uses: softprops/action-gh-release@v2
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        tag_name: ${{ steps.create_tag.outputs.tag_name }}
        files: cygwin-dlls.zip
